page-index
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll(ref='body')
      div.container
        div.posts
          div.m16(data-is='item-book', each='{item , index in sclazy.items}', item='{item}', index='{index}')
          //- div.text-center.my16(if='{sclazy.isMore()}') loading...
    module-tabbar

  script.
    this.on('mount', async () => {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-155041958-1');
      
      this.sclazy = Sclazy({
        target: this.refs.body,
        onload: async () => {
          var limit = 16;
          var startAfter = null;

          if (this.sclazy.items.length) {
            //- 続きから取得するようにする
            startAfter = this.sclazy.items[this.sclazy.items.length - 1].doc;
          }
          var items = await flarebase.store.db.collection('shouts').getWithRelation();

          this.sclazy.addItems(items);
          this.sclazy.next(items.length !== 0);
          this.update();
        },
        //- スクロールし終わった時
        onscrollend: () => {
          this.sclazy.load();
        },
      });
    });
    
    this.on('show', async () => {
      this.sclazy.reset().load();
      this.update();

      //- var base64 = await app.utils.imageToBase64(faker.image.image());
      //- firebase.storage().ref('hoge/foo').child('test').putString(image, 'base64', {contentType:'image/jpg'});
    });
